/DerivedData
/NootedBlue.xcodeproj/project.xcworkspace/xcuserdata/mr.xcuserdatad
**/.DS_Store
/drm.xcodeproj/project.xcworkspace/xcuserdata/mr.xcuserdatad
/HookCase-master/HookCase.xcodeproj/project.xcworkspace/xcuserdata/mr.xcuserdatad
/others/HookCase-master/DerivedData
/others/HookCase-master/HookCase.xcodeproj/project.xcworkspace/xcuserdata/mr.xcuserdatad
Release alias
Debug alias
Debug alias
